In [11]:
import sqlite3
import numpy as np

In [12]:
conn  = sqlite3.connect('sim_search.db')
cursor = conn.cursor()

In [13]:
vector1 = np.array([1.0, 2.0, 3.3])
vector2 = np.array([10, 34, 576.32])
vector2.dtype

dtype('float64')

In [14]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS s_search(
Id INTEGER, 
items BLOB NOT NULL
)
""")

In [15]:
cursor.execute(
    "INSERT INTO s_search(items) VALUES(?)", (sqlite3.Binary(vector1.tobytes()), )
)

cursor.execute(
    "INSERT INTO s_search(items) VALUES(?)", (sqlite3.Binary(vector2.tobytes()), )
)

## Lets have some query

In [20]:
query_vector = np.array([1.1, 2.2,  3.3])

cursor.execute("SELECT items from s_search ORDER BY abs(items -?) ASC",
              (sqlite3.Binary(query_vector.tobytes()), ))

#minimum distance is calcuated with the query vector
#sort the result in ascending order
#and fected

In [18]:
result = cursor.fetchone()[0]

In [19]:
np.frombuffer(result, dtype = vector1.dtype)

array([1. , 2. , 3.3])

In [ ]:
## It selected the first vector that is very similar to query vector